name: pipeline
on: [pull_request]

env:
  GO_VERSION: 1.18

jobs:
  go-ensure-deps:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Check Go Modules
        run: make ensure-deps

  go-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Lint code
        uses: golangci/golangci-lint-action@v2

  go-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ env.GO_VERSION }}

      - uses: actions/cache@v2
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Test code
        run: |
          make test-ci

      - name: Upload test coverage artifacts
        uses: actions/upload-artifact@v2
        with:
          name: test-coverage
          path: ./artifacts
          retention-days: 7

  pr-checks:
    runs-on: ubuntu-latest
    needs: go-test
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Configure Node
        uses: actions/setup-node@v1
        with:
          node-version: 14.15.x

      - uses: actions/cache@v2
        with:
          path: ".danger/node_modules"
          key: ${{ runner.os }}-${{ hashFiles('.danger/yarn.lock') }}

      - name: Download artifacts
        uses: actions/download-artifact@v2
        with:
          name: test-coverage
          path: ./artifacts

      - name: Run code review checks
        working-directory: .danger
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          MINIMUM_PR_DESCRIPTION_LENGTH: 50
          TEST_COVERAGE_THRESHOLD: 80
          LINES_OF_CODE_THRESHOLD: 500
          TEST_COVERAGE_ARTIFACT_PATH: '../artifacts/coverage.out'
        run: |
          yarn install
          yarn danger ci
